importFrom("methods","setRefClass")
importFrom("methods", "new")
importFrom("utils", "read.csv")
importFrom("SACCR", "CalcAddon")
importFrom("SACCR", "CalcRC")
importFrom("SACCR", "CalcPFE")
importFrom("SACCR", "CalcEAD")
importFrom("stats", "dnorm", "pnorm", "qnorm", "quantile", "runif")
export(CalcNGR)
export(CalcPD)
export(CalcSimulatedExposure)
export(CalcVA)
export(calcCVACapital)
export(calcDefCapital)
export(calcEAD)
export(calcEffectiveMaturity)
export(calcKVA)
export(xVACalculator)
export(xVACalculatorExample)
export(CSAb)
export(Curve)
export(HashTable)
export(IRSwap)
