importFrom("methods","setRefClass")
importFrom("methods", "new")
importFrom("utils", "read.csv")
importFrom("SACCR", "CalcAddon")
importFrom("SACCR", "CalcRC")
importFrom("SACCR", "CalcPFE")
importFrom("SACCR", "CalcEAD")
importFrom("SACCR", "CreateTradeGraph")
importFrom("stats", "dnorm", "pnorm", "qnorm", "quantile", "runif")
importFrom("Trading", "IRDSwap")
importFrom("Trading", "Curve")
importFrom("Trading", "CSA")
importFrom("Trading", "HashTable")
importFrom("Trading", "Collateral")
importFrom("data.table", "data.table")
importFrom("data.table", "setkey")
importFrom("data.table", ":=")
importFrom("utils", "globalVariables")
export(CalcNGR)
export(CalcPD)
export(CalcSimulatedExposure)
export(CalcVA)
export(IS_ELIGIBLE_CCY)
export(IS_IG)
export(LoadSupervisoryCVAData)
export(calcCVACapital)
export(calcDefCapital)
export(calcEADRegulatory)
export(calcEffectiveMaturity)
export(calcKVA)
export(xVACalculator)
export(xVACalculatorExample)
